/* Duong Ngoc Le */
body {
  background-color: #191a1c;
  font-size: 20px;

}

.wapper {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-login {
  
  max-width: 508px;
  flex-grow: 1;
  padding: 55px 30px 40px;
  border-radius: 10px;
}

.wapper-heading {
  font-family: sans-serif;
  font-size: 15px;
  color: #f5f5f5;
  margin-bottom: 30px;
}

.wapper-heading i {
  cursor: pointer;
  font-size: 28px;
}

.input__field {
  margin-top: 17.6px;
  margin-bottom: 17.6px;
  position: relative;
}

.anh-meo {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding-top: 20px;
  padding-left: 10px;
  background-color: #2c2c2c;
  border: 0;
  outline-color: #ff6740;
  color: #f5f5f5;
  flex-grow: 1;
  width: 497px;
  height: 56px;
  font-size: 20px;
  border-radius: 5px;
}

.input__field label {
  margin-top: 15px;
  margin-left: 10px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 23px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

input:focus~label,
input:valid~label {
  top: -20px;
  left: 0;
  color: #f5f5f5;
  font-size: 20px;
}

.Forgot {
  color: #ff6740;
  margin-top: 17.6px;
  margin-bottom: 17.6px;
  font-size: 23px;
  text-decoration: none
}

.squaredcheck {
  margin-top: 17.6px;
  margin-bottom: 17.6px;
  color: #ff6740;
}

#checkbox1 {
  background: #2c2c2c;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checkboxname {
  color: #f5f5f5;
}

.rules {
  color: #ff6740;
  text-decoration: none
}

.wapper .btn {
  font-size: 20px;
  background-color: #ff6740;
  border: 1px solid #ff6740;
  color: #f5f5f5;
  width: 100%;
  cursor: pointer;
  padding: 6px 10px;
  transition: 0.25s ease-in-out;
  margin-top: 9px;
  height: 50px;
  border-radius: 5px;
}

.wapper .btn:hover {
  border: 1px solid black;
  background: #ff67407a;
}

.ls-link {
  font-size: 20px;
  background: transparent;
  border: 0px;
  color: #ff6740;
  width: 100%;
  cursor: pointer;
  padding: 6px 10px;
  transition: 0.25s ease-in-out;
  margin-top: 15px;
  height: 50px;
  border-radius: 5px;
}

.ls-link:hover {
  background: #ff67407a;
}


.chu {
  cursor: pointer;
  line-height: 50px;
  font-size: 30px;
  color: #f5f5f5;
  margin-bottom: 5px;
  margin-top: 5px;
}

#form-rules {
   margin-top: 60px;
  padding-left: 100px;
  padding-right: 100px;
}

.divchu {

  padding-left: 65px;
  padding-right: 65px;
}

.fonts
{
  font-size: 28px ;
}

 

