/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
/* navbar */
.navbar {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    padding: 4px 24px 0;
    border-bottom: 2px solid transparent;
    background: #4caf50;
    transition-property: background-color, backdrop-filter;
    transition-duration: .35s, .35s;
    transition-timing-function: ease;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.navbar-left {
    margin: 10px 0;
}

.navbar-right {
    margin-left: auto;
}

.navbar-search-pseudo {
    display: flex;
    align-items: center;
    height: 32px;
    background-color: rgba(128, 128, 128, .5);
}

.navbar-search-pseudo > svg {
    position: relative;
    left: 12px;
}

.navbar-search-pseudo > input {
    padding-top: 0;
    background-color: transparent;
    outline-color: transparent;
    border: 0;
    width: 300px;
    height: 100%;
    margin-left: 20px;
    transition: width .3s ease, opacity .3s linear, visibility .3s step-end;
}

.navbar-search-pseudo > input:focus {
    outline: none;
}

@media (max-width: 640px) {
    .navbar-search-pseudo > input {
        width: 160px;
    }
}

@media (max-width: 512px) {
    .navbar-search-pseudo > input {
        opacity: 0;
        width: 0;
        visibility: hidden;
    }

    .navbar-search-pseudo {
        background-color: transparent;
    }
}

input::placeholder {
    font-family: inherit;
    color: inherit;
}

.navbar-scrolleddown {
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(2px);
    border-color: var(--color-highlight-0);
}




/* render san pham,phan trang */

.homepage-button {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 20px;
    margin: 0 10px;
}

.homepage-button:hover {
    background-color: green;
}

/* Product Display and Pagination */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4px 8px;
    margin: 0 22px;
    padding: 12px 10px;
}

.homepage-grid {
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: none;
}

.homepage-grid-img {
    position: relative;
    max-width: 300px;
    max-height: 500px;
    width: 100%;
    height: auto;
    align-self: center;
}

.homepage-checkPrice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

ul.pagination-list {
    list-style-type: none;
}

.pagination-list {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding: 10px;
}

.pagination-list button {
    margin: 0;
    padding: 6px 10px;
    border: 1px solid #2c3e50;
    margin-left: -1px;
    border-radius: unset;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 13px;
}

.pagination-list button:hover {
    background-color: orange;
}

.pagination-list button.active {
    background-color: #2c3e50;
    color: white;
    font-weight: bolder;
}

.pagination-popover {
    width: 135px;
    border: 1px solid #2c3e50;
    background-color: #f8f8f8;
    padding: 5px;
    border-radius: 1px 1px 0 0;
}

.pagination-popover label {
    padding: 3px 8px;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    background-color: #2c3e50;
    color: white;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 1px 1px 0 0;
}

.pagination-popover input[type="number"] {
    width: 70px;
    border: 1px solid #7d7d7d;
    padding: 0 4px 0 4px;
    margin-top: 5px;
    height: 28px;
}

.pagination-popover button {
    font-size: 13px;
    line-height: 20px;
    padding: 3px 15px;
    font-weight: 500;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    text-transform: capitalize;
    background-color: #2c3e50;
    color: #fff;
}

:root {
    --primary-color: #005a2a;
    --secondary-color: #005a2a;
    --hover-color: #00803c;
    --text-color: #333;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    color: var(--text-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* CART */
.homepage-nav-cart {
    position: relative;
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 17px;
    margin-left: 20px;
}

/* ==============================
            CAROUSEL 
  ============================== */
.carousel-inner img {
    width: 100%;
    aspect-ratio: 4;
    object-fit: fill;
}

/* ================================
            FOOTER
  =============================== */
.homepage-footer-content {
    background-color: var(--primary-color);
    margin-top: 16px;
    padding-top: 24px;
    color: white;
    height: 300px;
}

.homepage-footer-img {
    width: 150px;
}

.homepage-footer-address,
.homepage-footer-logo {
    text-align: center;
    font-size: 1.2rem;
    margin: auto;
}

.homepage-footer-lincense {
    font-size: 0.8rem;
    margin: 60px;
    text-align: center;
}

/* Login */
dialog#debugDialog {
    transition: display 0.5s allow-discrete, overlay 0.5s allow-discrete;
    animation: dialog-slide-hide 0.5s ease-out normal;
    &::backdrop {
      animation: dialog-backdrop-hide 0.5s ease-out normal;
    }
    &[open] {
      animation: dialog-slide-show 0.5s ease-out normal;
      &::backdrop {
        animation: dialog-backdrop-show 0.5s ease-out normal;
      }
    }
  }
  
  dialog#loginDialog {
    animation: loginDialog-show 0.6s;
  }
  
  dialog#loginDialog * {
    box-sizing: border-box;
  }
  
  dialog#loginDialog body,
  dialog#loginDialog html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents normal scrolling */
  }
  
  dialog#loginDialog body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
  }
  
  dialog#loginDialog h1 {
    font-weight: bold;
    margin: 0;
  }
  
  dialog#loginDialog p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }
  
  dialog#loginDialog span {
    font-size: 12px;
  }
  
  dialog#loginDialog a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
  }
  
  dialog#loginDialog button {
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background-color: #ff4b2b;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
  
  dialog#loginDialog button:active {
    transform: scale(0.95);
  }
  
  dialog#loginDialog button:focus {
    outline: none;
  }
  
  dialog#loginDialog button.ghost {
    background-color: transparent;
    border-color: #ffffff;
  }
  
  dialog#loginDialog form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }
  
  dialog#loginDialog input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }
  
  dialog#loginDialog .login-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
  }
  
  dialog#loginDialog .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  
  dialog#loginDialog .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }
  
  dialog#loginDialog.login-container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }
  
  dialog#loginDialog .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }
  
  dialog#loginDialog .login-container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }
  
  @keyframes loginDialog-show {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }
  
    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }
  
  dialog#loginDialog .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }
  
  dialog#loginDialog .login-container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }
  
  dialog#loginDialog .overlay {
    background: #ff416c;
    background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  dialog#loginDialog .login-container.right-panel-active .overlay {
    transform: translateX(50%);
  }
  
  dialog#loginDialog .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  dialog#loginDialog .overlay-left {
    transform: translateX(-20%);
  }
  
  dialog#loginDialog .login-container.right-panel-active .overlay-left {
    transform: translateX(0);
  }
  
  dialog#loginDialog .overlay-right {
    right: 0;
    transform: translateX(0);
  }
  
  dialog#loginDialog .login-container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
  
  dialog#loginDialog .social-container {
    margin: 20px 0;
  }
  
  dialog#loginDialog .social-container a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
  }